@import '../../style/variables.scss';

.Loader {
  .background {
    position: absolute;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.75;
    background-color: $brand-white;
  }

  .spiner {
    height: 35px;
    width: 35px;
    position: absolute;
    left: 50%;
    margin-left: -17.5px;
    top: 50%;
    margin-top: -17.5px;
    z-index: 9999;

    svg {
      color: $brand_blue;
    }
  }
}
