@font-face {
  font-family: 'FuturaPT-Light';
  src: url('../assets/fonts/FuturaPT-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../assets/fonts/FuturaPT-Book.ttf') format('ttf');
}

@font-face {
  font-family: 'FuturaPT-Medium';
  src: url('../assets/fonts/FuturaPT-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'FuturaPT-Bold';
  src: url('../assets/fonts/FuturaPT-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../assets/fonts/FuturaPT-Book.ttf') format('ttf');
}

@font-face {
  font-family: 'Comfortaa-Regular';
  src: url('../assets/fonts/Comfortaa-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Comfortaa-Bold';
  src: url('../assets/fonts/Comfortaa-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Comfortaa-Light';
  src: url('../assets/fonts/Comfortaa-Light.ttf') format('ttf');
}
