$brand-white: #FFFFFF;
$brand-grey: #333333;
$brand-grey-1: #F2F2F2;
$brand-grey-2: #F9F9F9;
$brand-grey-3: #E0E0E0;
$brand-grey-4: #BDBDBD;
$brand-grey-5: #BFBFBF;
$brand-grey-6: #828282;

$bg-content: #F5F6FF;
$bg-content-block: #FFFFFF;

$brand-scroll-thumb: $brand-grey-5;
$brand-scroll-thumb-hover: $brand-grey-5;
$brand-scroll-track: $brand-grey-3;
$brand-scroll-track-hover: $brand-grey-3;
