$brand-blue: #003C79;
$brand-blue-1: #8597B6;
$brand-blue-2: #546686;
$brand-blue-3: #63BDFF;
$brand-orange: #FF5503;
$brand-white: #FFFFFF;
$brand-green: #01A9AC;
$brand-green-1: #F1FFFB;
$brand-green-2: #4CCCA5;
$brand-green-hover: #028C8F;
$brand-green-active: #016D6F;
$brand-grey: #333333;
$brand-grey-1: #F2F2F2;
$brand-grey-2: #F9F9F9;
$brand-grey-3: #E0E0E0;
$brand-grey-4: #BDBDBD;
$brand-grey-5: #BFBFBF;
$brand-grey-6: #828282;
$brand-violet: #4C51CB;
$brand-violet-1: #4B4D84;
$brand-violet-2: #4C51CC;
$brand-violet-3: #EBECF8;

$bg-content: #F5F6FF;
$bg-content-block: #FFFFFF;

$bg-slider: $bg-content-block;
$bg-slider-text: #DCDCDC;
$bg-slider-text-hover: #FFABA1;
$bg-slider-text-active: $brand-violet;

$brand-scroll-thumb: $brand-violet-2;
$brand-scroll-thumb-hover: $brand-violet-2;
$brand-scroll-track: $brand-grey-3;
$brand-scroll-track-hover: $brand-grey-3;
